
.info {
  color: blue;
  font-size: 1.5rem;
}

.qtext {
  font-weight: bold;
  font-size: 1.3rem;
}

.ten {
  margin-left: 1.3rem;
  width:60%;
}

.fifty {
  width: 60%;
}

.eighty {
  width: 80%;
}
