
.info {
  color: blue;
  font-size: 1.5rem;
}

.qtext {
  font-weight: bold;
  font-size: 1.3rem;
}

.ten {
  margin-left: 1.3rem;
  width:50%;
}

.fifty {
  width: 50%;
}

.eighty {
  width: 80%;
}

/*.switch {
  float: right;
  margin-right: 55%;
}*/
